services:
  api:
    build: .
    container_name: sistema-vendas-api
    ports:
      - "3000:3000"
    environment:
      - PORT=3000
      - MONGO_URI=mongodb://mongo:27017/sistema-de-gestao-de-vendas
      - JWT_SECRET=meu_segredo_super_secreto
    depends_on:
      - mongo
    restart: unless-stopped
    volumes:
      - .:/app
      - /app/node_modules

  mongo:
    image: mongo:6
    container_name: sistema-vendas-mongo
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db
    restart: unless-stopped

volumes:
  mongo-data:
